.dark-select option {
	color: #333;
}

.background{
	background-image: url(images/stardust.png);
	background-repeat: repeat;
}

@font-face {
    font-family: snaphand;
    src: url(fonts/snaphand-v1-free.ttf);
}

.tittle a{
	font-family: snaphand;
	color: skyblue;
	font-size: 40px !important;
}

.skyblue {
	color: skyblue;
}

.border-skyblue:focus{
	border-color: skyblue !important;
}


.white thead tr th, .white tbody tr, .white{
	color : #fff;
}